name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    
    - name: envs
      run: export TEST=yes
      
    - name: Build
      run: make 
#     TODO setup go tests
#     - name: Test
#       run: go test -v ./...
